{% extends "homepage.html" %}

{% block title %}  {{ content.title }} {% endblock %}
{% block keywords %} {{ content.keywords }} {% endblock %}
{% block description %} {{ content.description }} {% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ settings.icon.url }}'>
{% endblock %}

{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}

{% block body %}
    {% load static %}
    <script src="{% static 'js/main.js' %}"></script>
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <div class="row">
                <div class="col-lg-12 col-md-6 mb-4">
                    <div class="package-item bg-white mb-2">
                        <img class="img-fluid" src="{{ content.image.url }}" alt="" style="height: 760px">
                        <div class="p-4">
                            <div class="d-flex justify-content-between mb-3">
                                <small class="m-0"><i class="fa fa-map-marker-alt text-primary mr-2"></i>{{ content.konum }}</small>
                            </div>
                            <h3>{{ content.title }}</h3>
                            <p class="h5 text-decoration-none" href="/content_detail">{{ content.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!--RegistrationStart -->
    <div class="container-fluid bg-registration py-5" style="margin: 90px 0;">
        <div class="container py-5">
            <div class="row align-items-center">
                <div class="col-lg-7 mb-5 mb-lg-0">
                    <div class="mb-4">
                        <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Mega Offer</h6>
                        <h1 class="text-white"><span class="text-primary">30% OFF</span> For Honeymoon</h1>
                    </div>
                    <p class="text-white">Invidunt lorem justo sanctus clita. Erat lorem labore ea, justo dolor lorem ipsum ut sed eos,
                        ipsum et dolor kasd sit ea justo. Erat justo sed sed diam. Ea et erat ut sed diam sea ipsum est
                        dolor</p>
                    <ul class="list-inline text-white m-0">
                        <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Labore eos amet dolor amet diam</li>
                        <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Etsea et sit dolor amet ipsum</li>
                        <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Diam dolor diam elitripsum vero.</li>
                    </ul>
                </div>
                <div class="col-lg-5">
                    <div class="card border-0">
                        <div class="card-header bg-primary text-center p-4">
                            <h1 class="text-white m-0">Sign Up Now</h1>
                        </div>
                        <div class="card-body rounded-bottom bg-white p-5">
                            <form>
                                <div class="form-group">
                                    <label>
                                        <input type="text" class="form-control p-4" placeholder="Your name" required="required" />
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label>
                                        <input type="email" class="form-control p-4" placeholder="Your email" required="required" />
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label>
                                        <select class="custom-select px-4" style="height: 47px;">
                                            <option selected>Select a destination</option>
                                            <option value="1">destination 1</option>
                                            <option value="2">destination 1</option>
                                            <option value="3">destination 1</option>
                                        </select>
                                    </label>
                                </div>
                                <div>
                                    <button class="btn btn-primary btn-block py-3" type="submit">Sign Up Now</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Registration End-->
{% endblock %}