{% load static %}
<!-- Topbar Start -->
<script src="{% static 'js/main.js' %}"></script>
    <div class="container-fluid bg-light pt-3 d-none d-lg-block">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center text-lg-left mb-2 mb-lg-0">
                    <div class="d-inline-flex align-items-center">
                        <p><i class="fa fa-envelope mr-2"></i>info@example.com</p>
                        <p class="text-body px-3">|</p>
                        <p><i class="fa fa-phone-alt mr-2"></i>+012 345 6789</p>
                    </div>
                </div>
                <div class="col-lg-6 text-center text-lg-right">
                    <div class="d-inline-flex align-items-center">
                        {% if user.id is not None %}
                        <span style="margin-right: 10px"><i class="fa fa-user" style="margin-right: 10px"></i>{{ user.first_name }}</span>
                        <a href="/logout/" style="margin-right: 10px; margin-left: 10px">Logout</a>
                        <a class="text-primary px-3" href="https://twitter.com/mrantika23" target="_blank">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="text-primary px-3" href="https://www.linkedin.com/in/muhammet-raşit-antika-1715a9226/" target="_blank">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <a class="text-primary px-3" href="https://www.instagram.com/mrantika23/" target="_blank">
                            <i class="fab fa-instagram"></i>
                        </a>
                        {% else %}
                            <a href="/login/" style="margin-right: 10px"><i class="fa fa-unlock-alt" style="margin-right: 10px"></i>Login</a>
                            <a href="/signup/"><i class="fa fa-user-plus" style="margin-right: 10px"></i>Create an account</a>


                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->