{% load static %}
<!-- Navbar Start -->
<script src="{% static 'js/main.js' %}"></script>
    <div class="container-fluid position-relative nav-bar p-0">
        <div class="container-lg position-relative p-0 px-lg-3" style="z-index: 9;">
            <nav class="navbar navbar-expand-lg bg-light navbar-light shadow-lg py-3 py-lg-0 pl-3 pl-lg-5">
                <a href="/" class="navbar-brand">
                    <h1 class="m-0 text-primary"><span class="text-dark">TRAVEL</span>ER</h1>
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
                    <div class="navbar-nav ml-auto py-0">
                        <a href="/" class="nav-item nav-link active">Anasayfa</a>
                        <a href="/aktiviteler" class="nav-item nav-link">Aktiviteler</a>
                        <a href="/hakkimizda" class="nav-item nav-link">Hakkımızda</a>
                        <a href="/referanslar" class="nav-item nav-link">Referanslar</a>
                        <a href="/iletisim" class="nav-item nav-link">İletişim</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Navbar End -->