{% load static %}
<script src="{% static 'js/main.js' %}"></script>
<!-- Booking Start -->
<!-- Booking End -->
<!-- About Start -->
<!-- About End -->
<!-- Feature Start -->
<!-- Feature End -->
<!-- Destination Start -->
<!-- Destination Start -->
<!-- Service Start -->
<!-- Service End -->
<!--Packages Start-->
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <div class="text-center mb-3 pb-3">
                <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Aktiviteler</h6>
                <h1>Aktivitlere Göz Atın</h1>
            </div>
            <div class="row">
                {% for rs in randomcontents %}
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="package-item bg-white mb-2">
                        <img class="img-fluid" src="{{ rs.image.url }}" alt="" style="height: 300px;">
                        <div class="p-4">
                            <div class="d-flex justify-content-between mb-3">
                                <small class="m-0"><i class="fa fa-map-marker-alt text-primary mr-2"></i>{{ rs.konum }}</small>
                            </div>
                            <h3>{{ rs.title }}</h3>
                            <a class="h5 text-decoration-none" href="/content/{{ rs.id }}/{{ rs.slug }}">{{ rs.description }}</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
<!--Packages End-->

    <!--RegistrationStart -->
    <div class="container-fluid bg-registration py-5" style="margin: 90px 0;">
        <div class="container py-5">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="card border-0">
                        <div class="card-header bg-primary text-center p-4">
                            <h1 class="text-white m-0">Sen De Bize Katılmak İster Misin</h1>
                        </div>
                        <div class="card-body rounded-bottom bg-white p-5 text-center">
                            <h3>Tutkulu bir ekiple yeni yerler keşfetmeye ne dersin?</h3>
                            <p>Dünyanın dört bir yanındaki gezilerden haberdar olmak ve katılmak istiyorsan hemen aşağıdaki butona tıklayarak aramıza katılabilirsin.</p>
                            <a href="/signup/" class="btn btn-primary btn-block py-3">Hemen Kayıt Ol</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Registration End-->


    <!-- Team Start -->
    <!-- Team End -->


    <!-- Testimonial Start -->

    <!-- Testimonial End -->


    <!-- Blog Start -->

    <!-- Blog End -->