{% extends "homepage.html" %}

{% block title %} Referanslarımız - {{ settings.company }} {% endblock %}
{% block keywords %} {{ settings.keywords }} {% endblock %}
{% block description %} {{ settings.description }} {% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ settings.icon.url }}'>
{% endblock %}

{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}

{% block body %}
    <div class="section">
        <div class="container">
            <div class="row" style="margin-top: 20px;">
                <h1 style="margin: auto; text-decoration: underline">
                    Referanslarımız
                </h1>
            </div>
            <div class="row" style="margin-top: 20px;">
                {{ settings.references|safe }}
            </div>
        </div>
    </div>
{% endblock %}