{% load static %}    
<!-- Carousel Start{ rs.id }}/{ rs.slug }} -->
<script src="{% static 'js/main.js' %}"></script>

    <div class="container-fluid p-0">
        <div id="header-carousel" class="carousel slide" data-ride="carousel">

            <div class="carousel-inner">
                {% for rs in sliderdata %}
                <div class="carousel-item{% if forloop.counter == 1 %} active{% endif %}">
                    <img class="w-100" src="{{ rs.image.url }}" alt="Image" style="height: 1080px">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-3" style="max-width: 900px;">
                            <h4 class="text-white text-uppercase mb-md-3">{{ rs.title }}</h4>
                            <h1 class="display-3 text-white mb-md-4">{{ rs.description }}</h1>
                            <a href="/aktiviteler" class="btn btn-primary py-md-3 px-md-5 mt-2">Aktiviteleri Görüntüle</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
                <div class="btn btn-dark" style="width: 45px; height: 45px;">
                    <span class="carousel-control-prev-icon mb-n2"></span>
                </div>
            </a>
            <a class="carousel-control-next" href="#header-carousel" data-slide="next">
                <div class="btn btn-dark" style="width: 45px; height: 45px;">
                    <span class="carousel-control-next-icon mb-n2"></span>
                </div>
            </a>
        </div>
    </div>
    </div>
    <!-- Carousel End -->